#example_wrapper{
    width: 100%;
}

.modal-card-foot {
  justify-content: right;
}

#addNewAnimal, #addNewPerson, #addNewEvent {
  padding: 5px;
  width:150px;
  margin-left:auto;
}

#nameSection {
  display: flex;
}

#firstNameField {
  flex: 1;
  padding-right: 5px;
}

#lastNameField {
  flex: 1;
  padding-left: 5px;
}

#areaCodeInput, #exchangeNumberInput {
  width: 3em;
}

#endNumberInput {
  width: 4em;
}

#phoneNumberField {
  display: flex;
}

.phoneNumberSeparator {
  padding: 5px;
}

.dataTables_wrapper {
  width: 100%;
}

#mainContainer {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.selectedTab {
  background: hsl(204, 86%, 53%);
  color:white !important;
  font-weight: bold;
}
.selectedTab a:hover{
  background-color: hsl(171, 100%, 41%);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: black;
}
.mdl-layout__drawer .mdl-navigation .selectedTab:hover {
    background-color: hsl(204, 86%, 53%);
}
.dataTables_filter {
}

.dataTables_filter label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mdl-data-table td {
    text-align: left;
}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting{
  background-image:none;
}

th:before,th:after {
  color:hsl(204, 86%, 53%);
  font-weight: bold;
  font-size:100px;
}

.mdl-typography--display-3 {
  margin-left: 50%;
  margin-right: 50%;
}

.level:not(:last-child) {
  margin-bottom: 0;
}

.level-left{
  width: 90%;
}
.level-right{
  width: 10%;
}

thead {
  border-bottom: 1px solid hsl(204, 86%, 53%);

}
table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid hsl(204, 86%, 53%);
}

button {
  margin:12px;
}