body {
  font-family: "Roboto", -apple-system, "Helvetica Neue", Sans-serif;
}

#example_wrapper{
    width: 100%;
}

.modal-card-foot {
  justify-content: right;
}

#addNewAnimal, #addNewPerson, #addNewEvent {
  padding: 5px;
  width:150px;
  margin-left:auto;
}

#nameSection {
  display: flex;
}

#firstNameField {
  flex: 1;
  padding-right: 5px;
}

#lastNameField {
  flex: 1;
  padding-left: 5px;
}

#areaCodeInput, #exchangeNumberInput {
  width: 3em;
}

#endNumberInput {
  width: 4em;
}

#phoneNumberField {
  display: flex;
}

.phoneNumberSeparator {
  padding: 5px;
}

.dataTables_wrapper {
  width: 100%;
}

#mainContainer {
  width: 100%;
  overflow-x: hidden;
  max-height: 100vh;
  height: 100vh;
  margin-left:auto;
  margin-right:auto;
}

.selectedTab {
  background: hsl(204, 86%, 53%);
  color:white !important;
  font-weight: bold;
}
.selectedTab a:hover{
  background-color: hsl(171, 100%, 41%);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: black;
}
.mdl-layout__drawer .mdl-navigation .selectedTab:hover {
    background-color: hsl(204, 86%, 53%);
}
.dataTables_filter {
}

.dataTables_filter label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting{
  background-image:none;
}
th {
  text-indent:15px;
}

th:before,th:after {
  text-indent:5px;
  display:inline;
  color:hsl(204, 86%, 53%);
  font-weight: bold;
  font-size:100px;
}

th:before {
  position:relative;
  left:0;
}
th:after {
  position:relative;
  left:10px;
}

.mdl-data-table th:first-of-type{ 
  padding-left:18px; /*makes distance between column name and arrows the same in the first col as other cols*/
}



.dataTables_scrollHeadInner {
    border:1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid hsl(204, 86%, 53%);
    z-index: 4;
}

table, thead, tr,th {
  border:none !important;
}

.dataTables_scrollBody {
  border: 1px solid rgba(0,0,0,.12);
}

table.dataTable thead th, table.dataTable thead td {
  outline:none;
  border-bottom:none;
/*  border-bottom: 1px solid hsl(204, 86%, 53%);
*/
}

/* Make Scrollbar persistent */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-webkit-scrollbar-track {
  border-left: 1px solid rgba(0,0,0,.12);
};

#animalTable tr:hover {
  cursor:pointer;
}

button {
  margin:12px;
}

.mdl-button--raised.mdl-button--colored {
  background: hsl(204, 86%, 53%);
}

.mdl-button--raised.mdl-button--colored:hover {
  background-color: hsl(204, 86%, 43%);
}

.dataTables_scroll {
  margin-top:40px;
}

.fixedAdd {
  position: fixed;
  bottom:50px;
  right:50px;
  z-index: 3;
  color:white;
}

.blue {
  background-color:hsl(204, 86%, 43%);
  color:white;
}

.blue:hover {
  background-color:hsl(204, 86%, 43%);

}

.green {
  background-color: #00d1b2;
  color:white;
}

.green:hover {
  background-color: #00d1b2;
}

input {
  outline:none;
}

.mdl-data-table thead {
  padding-bottom: 0;
}

.mdl-textfield__input {
  border-bottom-color:rgba(0,0,0,.54);
  color:rgba(0,0,0,0.54);
}

.mdl-textfield__input:focus {
  border-bottom-width: 2px;
  border-bottom-color: hsl(204, 86%, 43%);
}

label i.material-icons {
  color:rgba(0,0,0,0.54);
}

.detailsButton {
  margin-top:10px;
}

.titleText {
  font-size:56px;
  color:#4a4a4a;
  line-height: 1.5;
  width:100%;
  text-align: center;
}

.sectionTitleText {
  font-size:34px;
  color:#4a4a4a;
  line-height: 1.5;
}

.bodyText {

}

.mdl-layout__drawer {
  z-index: -1;
}