* {
  outline: none;
}

html {
  overflow:hidden !important;
}

body {
    color: #1a1a1a;
    font-family: "Roboto", -apple-system, "Helvetica Neue", Sans-serif;
    z-index: -3;
}

#example_wrapper {
    width: 100%;
}

.modal-card-foot {
    justify-content: right;
}

#addNewAnimal, #addNewPerson, #addNewEvent {
    padding: 5px;
    width: 150px;
    margin-left: auto;
}

#nameSection {
    display: flex;
}

#firstNameField {
    flex: 1;
    padding-right: 5px;
}

#lastNameField {
    flex: 1;
    padding-left: 5px;
}

#areaCodeInput, #exchangeNumberInput {
    width: 3em;
}

#endNumberInput {
    width: 4em;
}

#phoneNumberField {
    display: flex;
}

.phoneNumberSeparator {
    padding: 5px;
}

.dataTables_wrapper {
    width: 100%;
}

#mainContainer {
    width: 100%;
    overflow-x: scroll;
    max-height: 100vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.selectedTab {
    background: hsl(204, 86%, 53%);
    color: white !important;
    font-weight: bold;
}

.selectedTab a:hover {
    background-color: hsl(171, 100%, 41%);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #1a1a1a;
}

.mdl-layout__drawer .mdl-navigation .selectedTab:hover {
    background-color: hsl(204, 86%, 53%);
}

.dataTables_filter {
  margin-bottom: 15px;
}

.dataTables_filter label {
    width: 100%;
    display: flex;
/*    justify-content: space-between;
*/}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
    background-image: none;
}

th {
    text-indent: 14px;
}

th:before, th:after {
    text-indent: 8px;
    display: inline;
    color: hsl(204, 86%, 53%);
    font-weight: bold;
    font-size: 100px;
}

th:first-of-type:before, th:first-of-type:after {
    text-indent: calc(14px + 8px);
}

th:before {
    position: relative;
    left: 0;
}

th:after {
    position: relative;
    left: 10px;
}

#animalTable_wrapper th:first-of-type, #personTable_wrapper th:first-of-type {
    text-indent: 5px;
    cursor: default;
}

#animalTable_wrapper th:first-of-type:before,
#animalTable_wrapper th:first-of-type:after,
#personTable_wrapper th:first-of-type:before,
#personTable_wrapper th:first-of-type:after {
    display: none;
}

#eventTable_wrapper th:first-of-type {
    padding-left: calc(10px + 14px + 8px); /*makes distance between column name and arrows the same in the first col as other cols*/
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-right: 18px;
}

.dataTables_scrollHead {
    border: 1px solid rgba(0, 0, 0, .12) !important;
    border-bottom: 1px solid hsl(204, 86%, 53%) !important;
    z-index: 4;
}

table, thead, tr, th {
    border: none !important;
}

.dataTables_scrollBody {
    border: 1px solid rgba(0, 0, 0, .12);
}

table.dataTable thead th, table.dataTable thead td {
    outline: none;
    border-bottom: none;
    /*  border-bottom: 1px solid hsl(204, 86%, 53%);
    */
}

/* Make Scrollbar persistent */
.dataTables_scroll ::-webkit-scrollbar, .modal-card ::-webkit-scrollbar, .select2-dropdown ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height:7px;
}

.dataTables_scroll ::-webkit-scrollbar-thumb, .modal-card ::-webkit-scrollbar-thumb, .select2-dropdown ::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.dataTables_scroll ::-webkit-scrollbar-track, .modal-card ::-webkit-scrollbar-track, .select2-dropdown ::-webkit-scrollbar-thumb{
    border-left: 1px solid rgba(0, 0, 0, .12);
}

tr:hover {
    cursor: pointer;
}

button {
    margin: 12px;
}

.mdl-button--raised.mdl-button--colored {
    background: hsl(204, 86%, 53%);
}

.mdl-button--raised.mdl-button--colored:hover {
    background-color: hsl(204, 86%, 43%);
}

.fixedAdd {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 3;
    color: white;
}

.blue {
    background-color: hsl(204, 86%, 43%);
    color: white;
}

.blue:hover {
    background-color: hsl(204, 86%, 43%);

}

.green {
    background-color: #00d1b2;
    color: white;
}

.green:hover {
    background-color: #00d1b2;
}

input {
    outline: none;
}

.mdl-data-table thead {
    padding-bottom: 0;
}

.mdl-textfield__input {
    border-bottom-color: rgba(0, 0, 0, .54);
    color: rgba(0, 0, 0, 0.54);
}

.mdl-textfield__input:focus {
    border-bottom-width: 2px;
    border-bottom-color: hsl(204, 86%, 43%);
}

label i.material-icons {
    color: rgba(0, 0, 0, 0.54);
}

.titleText {
    font-size: 56px;
    color: #1a1a1a;
    line-height: 1.5;
    width: 100%;
    text-align: center;
}

.sectionTitleText {
    font-size: 34px;
    color: #1a1a1a;
    line-height: 1.5;
    height:100px;
}

.modal-card {
    z-index: 6;
}

.modal-image {
    width: 400px;
}

canvas {
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}
.tile {
  padding:10px;
}

.chart-container {
  margin-left:auto;
  margin-right:auto;
}
.mdl-navigation__link {
    outline: none;
}

.mdl-navigation__link i.material-icons {
    padding-right: 8px;
}

.tableImage {
    /*  border:3px solid hsl(204, 86%, 53%) ;
    */
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*.top-block {
    max-width: 33.3333%
}*/

#currentImg {
  width:150px;
  height:150px;
  border-radius: 50%;
}

.hidden {
  visibility: hidden;
}

#fileUploadWrapper {
  margin-top:10px;
  display: inline-block;
  text-align: center;
}

.modalRightCol {
  text-align: center;
}

#browseButton {
  margin-top:20px;
  display:inline-block;
}

.mdl-radio {
  margin-top:7px;
}

.mdl-checkbox {
  margin-top:5px;
}

.mdl-textfield {
  padding-top:0px;
  padding-bottom: 0px;
}

.modal-card-body {
  padding-bottom: 0;
  overflow: auto;
}

.modal-card-foot, .modal-card-head {
  height:60px;
}

.modal-card {
  height: calc(90vh);
  overflow:auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0;
}
.select2-results__option {
  height:48px;
  line-height: 48px;
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left:16px;
  font-size: 16px;
  padding-top:0;
  padding-bottom: 0;

}

.select2.select2-container.select2-container--default {
  width:300px !important;
}

.select2.select2-container.select2-container--default.select2-container--focus {
  width:300px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #eee;
  color:black;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
  display:none;
}
.select2-dropdown {
  border:0px solid #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0;
  padding-top:8px;
  padding-bottom: 8px;
}

.mdl-textfield__input {
  color: #4a4a4a;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border:0px solid transparent;
  border-radius: 17px;
  padding:0 10px 0 0;
  height:36px;
  line-height: 36px;
  vertical-align: middle;

}

.select2-search__field {
  line-height:36px;
}
.select2-selection {
  border:none !important;
  border-bottom:1px solid rgba(0, 0, 0, .54) !important;
  border-radius: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right:6px;
  background:hsl(204, 86%, 43%);
  border-radius: 50%;
  padding-right: 0;
  width:36px;
  height:36px;
  font-size:18px;
  text-align: center;
  color:#e4e4e4 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left:0;
}

.select2-selection.select2-selection--single {
  width:300px;
}
.select2-hidden-accessible {
  width:300px !important;
}

.select2-search.select2-search--dropdown {
  display: none;
}

#saveButton {
  background-color: #00d1b2;
  color: white;
  float: right;
}

.modal-card-foot > button {
  margin-right:20px;
  margin-left:10px;
}

.rightAlign {
  margin-left:auto;
}

#modalActionBar {
  width: 100%;
}

article {
  height: 300px;
  min-width: 300px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    margin:-2px 0 0 0;
    vertical-align:middle;
    cursor:pointer;
}

input[type="checkbox"] + label span i.material-icons {
  vertical-align: middle;
  text-indent:-3px;
  font-size: 22px;
  color: hsl(204, 86%, 43%);
}

.checkboxText {
  text-indent:5px;
}

.mdl-radio__ripple-container .mdl-ripple, .mdl-radio.is-checked .mdl-radio__inner-circle {
  background-color:hsl(204, 86%, 43%);
}

.mdl-radio__outer-circle,.mdl-radio__inner-circle,.mdl-radio.is-checked .mdl-radio__outer-circle {
  border-color:hsl(204, 86%, 43%);
}

.field > label {
  font-weight: normal;
}

.field {
  margin-bottom:25px !important;
}

.deleteSpan, #saveText {
  line-height: 24px;
  vertical-align: middle;
}
